@import "fonts"
@import "vars"
@import "libs"

// MAIN SETTING PROJECT =======================================/
// ============================================================/
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $red

body input:required:valid,
body textarea:required:valid
	color: $green

body
	min-width: 320px
	position: relative
	overflow-x: hidden
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

main
	overflow-x: hidden

ul,
ol
	list-style-type: none
	padding: 0
	margin: 0

// COLORS CLASS PROJECT =======================================/
// ============================================================/
.dark
	color: $dark

.white
	color: $white

.gold
	color: $gold

.red
	color: $red

.green
	color: $green

.sea
	color: $sea

.blue
	color: $action_color

.grey
	color: $grey

.cian
	color: $cian

// TEXT SETTING ===============================================/
// ============================================================/
.uppercase
	text-transform: uppercase

.bold
	font-family: $default-font
	font-weight: 900

.semibold
	font-family: $default-font
	font-weight: bold

.right
	text-align: right

.left
	text-align: left

.text_center
	text-align: center

// TYPOGRAPHY =================================================/
// ============================================================/
.text
	font-size: 17px
	line-height: 24px
	font-family: $default-font
	color: $font-color
	&.-thesis
		font-size: 18px
	&.-subtitle
		font-size: 24px
		line-height: 29px
		font-weight: bold
		color: $dark
	&.--white
		color: $white

.title
	font-family: $font-title
	font-size: 40px
	line-height: 49px
	color: $dark
	font-weight: 700
	text-transform: uppercase
	&.-promo
		font-size: 54px
		line-height: 54px
		font-weight: 900
	&.--white
		color: $white

// LINKS ======================================================/
// ============================================================/
.link
	@extend .text
	color: $sea
	text-decoration: underline
	&.-uprc
		font-size: 18px
		line-height: 28px
		text-transform: uppercase
	&.-medium
		font-size: 18px
	&.--white
		color: $white
	&.--dark
		color: $font-color

// BUTTONS ====================================================/
// ============================================================/
.btn
	display: inline-block
	font-family: $default-font
	font-size: 18px
	color: $white
	text-transform: uppercase
	text-align: center
	line-height: 100%
	padding:
		top: 18px
		right: 44px
		left: 44px
	height: 54px
	background-color: $red
	transition: all 0.3s ease
	text-decoration: none
	&:hover
		background-color: $cian
		text-decoration: none
		color: $white
	&:focus
		color: $white
		outline: none

// BLOCK SETTING ==============================================
// ============================================================/
.hidden
	display: none

.clearfix:before,
.clearfix:after
	content: " "
	display: table

.clearfix
	clear: both

.centering
	margin: 0 auto

.padding__section
	padding: 60px 15px 80px

.nopadding
	padding: 0 !important
	margin: 0 !important

// SHADOW SETTING =============================================
// ============================================================/
.text_shdow
	text-shadow: $text-shadow

.box-shdow
	box-shadow: $box-shadow

// OTHER SETTINGS =============================================
//=============================================================/
.opacity-20
	opacity: $opacity-20

// MODAL POP-UPS WINDOW DIALOG ================================
// ============================================================/